.ingredients {
    @extend .generate;
    background-color: rgba(157,166,221, 0.7);
    margin-bottom: 40px;

    &__title{
        @extend .generate__title;
    }


    &__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        list-style-type: none;
        margin: auto 0;
        padding: 20px;
        box-sizing: border-box;
    }

    &__li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 150px;
        height: 150px;
        margin: 0 9px 15px 9px;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;

        @include mq(medium) {
            width: 280px;
            height: 280px;
        }
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
        width: 100%;
        height: 80%;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: rgba(61,180,61, 0.3);
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &--unActive{
            background-color: rgba(0,0,0, 0.3);
        }

        @include mq(medium) {
            font-size: 22px;
        }
    }

    &__unit {
        @extend .ingredients__name;
        height: 20%;
        background-color: rgba(33,98,33, 0.7);

        &--unActive{
            background-color: rgba(0,0,0, 0.7);
        }

        @include mq(medium) {
            font-size: 24px;
        }
    }
}