* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.App {
    position: relative;
    max-width: 1024px;
    padding: 50px 15px 0;
    margin: 0 auto;

    @include mq(small) {
        padding: 50px 25px 0;
    }
}

::-webkit-scrollbar{
    width: 7px;
    height: 0;
}
::-webkit-scrollbar-track{
    background:#fff;
}
::-webkit-scrollbar-thumb{
    background: rgb(63,81,181);
}