@import "./mixins";
@import "./global";
@import "../components/Calendar/calendar";
@import "../components//Modal/modal";
@import "../components/Loader/loader";
@import "../components/TabSection/TabSection";
@import "../components/Generate/generate";
@import "../components/Generate//Tooltip/tooltip";
@import "../components/Ingredients/ingredients";