.tab {
    position: fixed;
    top:-10%;
    left: calc(100% + 35px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35px;
    height: 100vh;
    background-color: transparent;
    animation: tabAnim .3s forwards ease-in-out;
    transition: 0.3s;

    @keyframes tabAnim {
        0% { left:calc(100% + 35px);}
        100% { left:calc(100% - 35px);}
    }

    &__category{
        position: relative;
        writing-mode: vertical-lr;
        text-orientation: upright;
        left:0;
        padding: 7px 0;
        padding-left: 10px;
        color: #111;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: -1px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        @include mq(medium){
            &:hover{
                left:-5px;
            }
        }


        &:nth-child(2){
            transform: translateY(-15px);
            box-shadow: 2px -3px 2px 2px rgba(0,0,0, 0.4);

            & > div {
                box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);
            }
        }

        &:nth-child(3){
            transform: translateY(-30px);
            box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);

            & > div {
                box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);
            }
        }

        &:nth-child(4){
            transform: translateY(-45px);
            box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);

            & > div {
                box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);
            }
        }

        &:nth-child(5){
            transform: translateY(-60px);
            box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);

            & > div {
                box-shadow: 4px -3px 2px 2px rgba(0,0,0, 0.3);
            }
        }

        &--active{
            left: -320px;
            &:hover{
                left: -320px
            }

            @include mq(medium) {
                left: -340px;
                &:hover{
                    left: -340px
                }
            }

            @include mq(medium) {
                left: -400px;
                &:hover{
                    left: -400px
                }
            }
            }
    }
}

.tab__recipe {
    position: absolute;
    top:-1px;
    left:100%;
    max-height: 42vh;
    overflow-y: scroll;
    width: 320px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    padding-bottom: 15px;
    writing-mode: horizontal-tb;
    text-orientation: initial;

    @include mq(medium){
        width: 340px;
    }

    @include mq(large){
        width: 400px
    }

    &::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }

    &--title{
        position: sticky;
        top:0;
        width: 100%;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 900;
        line-height: 18px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 15px 0;
        margin-bottom: 10px;
    }

    &--servings {
        padding: 10px;
    }

    &--ingredients {
        padding: 0 10px;
        list-style-type: none;
        text-transform: initial;
        margin-right: 32px;

        @include mq(large){
            margin-right: 45px;
            margin-left: 10px;
        }

        &--title{
            @extend .tab__recipe--title;
            position: initial;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 14px;
            color: #fff;
        }

        &--item{
            display: flex;
            width: 100%;
        }

        &--name{
            flex-basis: 55%;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            margin-bottom: 5px;
            margin-right: 3px;
            padding: 7px 10px;
            font-size: 13px;
            text-transform: capitalize
        }

        &--quantity{
            @extend .tab__recipe--ingredients--name;
            display: flex;
            align-items: center;
            flex-basis: 30%;
            text-transform: initial;
        }
    }

    &--recipe{
        padding: 0 10px;
        margin-top: 35px;
        margin-right: 32px;

        &--text{
            text-transform: initial;
            font-size: 14px;
            line-height: 20px;
        }
    }
}