.calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 25px;
    padding: 40px 0 15px;
    background-color: #f5f5f5;

    @include mq(small){
        height: 700px;
    }

    &__list {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        margin: 5px 0px;

        @include mq(small){
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            width: 600px;
            margin: 5px auto;
            overflow-x: inherit;
        }

        @include mq(large){
            width: 800px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        min-width: 75px;
        height: 75px;
        border: 1px solid #aaa;
        border-radius: 5px;
        margin: 4px;
        cursor: pointer;
        transition: .1s ease-in-out;

        &--active {
            font-size: 32px;
            background-color: #3f51b5;
            color: #fff;
            border-color: #111;
        }

        &--greenDot{
            position: absolute;
            top:60%;
            left:82%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(33, 98, 33);
            animation: greenDotAni .5s forwards ease-in-out;
            
            @keyframes greenDotAni {
                0% { top: 60% }
                50% { top:35% }
                100% { top: 50%; }
            }
        }

        &--greenLightDot {
            @extend .calendar__item--greenDot;
            background-color: rgb(61, 180, 61);
        }

        @include mq(small){
            &:hover {
                font-size: 32px;
                background-color: #3f51b5;
                color: #fff;

                & > .calendar__item--greenDot {
                    background-color: rgb(61, 180, 61);
                }
            }
        }

        @include mq(large){
            width: 104px;
            height: 75px;
        }

        &--empty {
            display: none;

            @include mq(small){
                display: flex;
                border-color: #f5f5f5;
                pointer-events: none;
            }

        }

        &--currentDay {
            font-size: 32px;
            background-color: #9DA6DD;
            color: #fff;
            border-color: #111;
        }
    }

    &__weekDay {
        @extend .calendar__item;
        display: none;
        font-size: 16px;
        border: 1px solid rgb(63,81,181);
        background-color: rgb(63,81,181);
        color: #fff;


        @include mq(small) {
            display: flex;

            &:hover {
                font-size: 16px;
                background-color: rgb(63,81,181);
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: 25px;
        font-weight: 900;
        
        &--value {
            display: flex;
            justify-content: center;

            width: 100px;
            text-align: center;
        }

        &--month {
            display: block;
            text-align: left;
            width: 40px;
        }
        &--year{
            display: block;
            text-align: right;
            width: 50px;
        }

        &--arrow {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 25px;
            height: 25px;
            border: 1px solid #000;
            border-radius: 50%;
            margin: 0px 10px;
            cursor: pointer;
            transition: .1s ease-in-out;

            @include mq(small) {
                &:hover {
                    background-color: #9DA6DD;
                }
            }

        }
    }
}