.modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    top: -25px;
    width: 100%;
    max-width: 1024px;
    min-height: 500px;
    margin:0 auto;
    padding-bottom: 15px;
    opacity: 50%;
    transition: .4s ease-in-out;

    &--onPosition {
        top: 0px;
        opacity: 100%;
    }

    @include mq(medium){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 665px;
        box-sizing: border-box;
    }

    &__header{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 325px;
        font-size: 65px;
        background-color: #9DA6DD;
        color: #fff;

        @include mq(medium){
            width: 33.3%;
        }
    }

    &__meal{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 325px;

        @include mq(medium){
            width: 33.3%;
        }
    }

    &__mealInput{
        width: 60%;
        height: 40px;
        transform: translateY(75px);
        padding: 0 5px;
        border-radius: 4px;
        background-color: rgba(255,255,255, 0.5);
    }

    &__breakfast{
        position: relative;
        background-color: #DBA5E1;
        &::after{
            position: absolute;
            top:0;
            left:50%;
            transform: translate(-50%, 10%);
            text-transform: uppercase;
            font-size: 40px;
            color: #fff;
            opacity: 45%;
            content: 'Breakfast';
        }
    }

    &__brunch{
        @extend .modal__breakfast;
        &::after{
            content: 'Brunch'
        }
        background-color: #FFA5C9;
    }

    &__lunch{
        @extend .modal__breakfast;
        &::after{
            content: 'Lunch'
        }
        background-color: #FFB3A0;
    }

    &__snacks{
        @extend .modal__breakfast;
        &::after{
            content: 'Snacks'
        }
        background-color: #FFD279;
    }

    &__dinner {
        @extend .modal__breakfast;
        &::after{
            content: 'Dinner'
        }
        background-color: #F9F871;
    }
}

.modal__button{
    width: 65%;
    max-width: 250px;
    height: 40px;
    margin: 60px 0 10px 0;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal__ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 200px;
    overflow-y: scroll;
    padding: 0 5px;
    list-style-type: none;

    &::-webkit-scrollbar{
        width: 0;
    }
}

.modal__li{
    padding: 7px 10px;
    margin: 0 0 10px 0;
    font-size: 13px;
    text-align: center;
    border: 2px solid #61186b;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s ease-in-out;

    &:hover{
        background-color: #61186b;
        color: #fff;
    }

    &--breakfast--active{
        background-color: #61186b;
        color: #fff;
    }

    &--brunch{
        border: 2px solid #741f41;

        &--active{
            background-color: #741f41;
            color: #fff;
        }

        &:hover{
            background-color: #741f41;
            color: #fff;
        }
    }

    &--lunch{
        border: 2px solid #8f3119;

        &--active{
            background-color: #8f3119;
            color: #fff;
        }

        &:hover{
            background-color: #8f3119;
            color: #fff;
        }
    }

    &--snacks{
        border: 2px solid #8b6415;

        &--active{
            background-color: #8b6415;
            color: #fff;
        }

        &:hover{
            background-color: #8b6415;
            color: #fff;
        }
    }

    &--dinner{
        border: 2px solid #81811d;

        &--active{
            background-color:#81811d;
            color: #fff;
        }

        &:hover{
            background-color: #81811d;
            color: #fff;
        }
    }
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;

    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        font-size: 35px;
    }

    @include mq(medium){
        left:100%;
    }

    @include mq(large){
        width: 75px;
        height: 75px;
        font-size: 30px;

        &:hover {
            font-size: 50px;
        }
    }
}